<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="text-center p-3">
			<h1 class="font-weight-bold">We Provide Safe, Secure and Smart
				Contact Management Service</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui
				ipsum iste voluptates accusamus voluptatem! Debitis beatae
				recusandae laboriosam officiis esse impedit sed nihil nostrum
				aliquam dolore consequatur cupiditate tenetur dolorum quibusdam at
				perferendis et rerum a possimus unde deserunt nobis labore nesciunt
				rem dignissimos nam repudiandae iste nulla dolor sapiente.</p>
		</div>
	</section>
</body>
</html>